*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient( circle farthest-corner at 48.9% 4.2%,  rgba(39,10,226,1) 0%, rgba(164,12,251,1) 100.2% );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-box{
    border-radius: 1.5rem;
    max-width: 50px;
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.search-box .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    padding: 1rem;
    background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% );
    z-index: 2;
    
}
.search-box .icon i{
    color: white;
    font-size: 1.2rem;
}

.search-box form{
    height: 100%;
    position: absolute;
    right: 0px;
    width: 50px;
    transition: all 0.3s ease;
}
.search-box form input{
    padding: 1rem;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    
}

.container input#search-icon:checked +.search-box form {
    width: 100%;
}
.container input#search-icon:checked +.search-box{
    max-width: 400px;
    
}