@font-face {
    font-family: tanha;
    src: url('./fonts/Tanha-FD.woff2') format('woff2');
    font-size: normal;
    font-weight: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'tanha';
    
}

body{
    direction: rtl;
}

img{
    width: 100%;
}

.container{
    width: 1500px;
    margin: 5rem auto;
}
.grid-contents{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 1rem ;
    border-radius: 1rem;
    transition: all 0.3s ease;
}
.content:hover{
    background-color: #31a9cc;
    box-shadow: 0 8px 24px -1px #31a9cc;
}

.content:hover button{
    background-color: #feac00;
    color: white;
}
.content:hover .image{
    transform: translateY(-50px);
}

.content .image{
    width: 300px;
    margin-bottom: 1rem;
    position: relative;
    transition: all 0.3s ease;
}
.content .image::after{
    content: '';
    position: absolute;
    width: 45%;
    height: 10%;
    bottom: 112px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    box-shadow: 0 121px 31px rgba(0,0,0,0.6), 0 121px 31px rgba(0,0,0,0.3);

}


.content .info p{
    margin: 1rem 0;
}

.content button {
    padding: 0.5rem 1rem;
    border: 3px solid #feac00;
    border-radius: 1rem;
    background-color: inherit;
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: 1rem;

}

